main {
    background-color: #E7E7E7;
    padding-top: 1rem;
}
.titulo-principal-ayuda {
    font-weight: 700;
    color: #0c0c0c;
    text-transform: uppercase;
}

.preguntas-soluciones {
}
.txt1{
    background: linear-gradient(to right, #515896, #004e92);
    color: var(--yellow);
    font-weight: 300;
    padding: 1rem;
}
.txt1 span{
    font-weight: 500;
    line-height: 2;
}
.container-respuestas {
    margin: 0 5rem;
}
.preguntas-respuestas {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--gray);
}
.preguntas-respuestas:hover {
    color: var(--white);
    background: linear-gradient(to right, #515896, #004e92);
}
.txt2{
    font-weight: 500;
}

/* Formulario */
.formcontato{
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}
form input, form textarea{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    border-bottom: 2px solid #004e92;
    font-size: 1em;
    resize: none; 
  }
  
  form button {
    display: block;
    background-color: #0095eb;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em; 
    color: 	white;
    font-family: "Roboto", sans-serif;
  }
  
  form button:hover{
      background-color: #046193;
  }
  textarea {
      resize: none;
}

