img {
    object-fit: scale-down;
    margin: auto;
  }
  
main {
    width: 100%;
    display: grid;
    margin-bottom: 0;
    grid-template-columns: 1fr 5fr;
    
}
.container-productos{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem;

}
.titulo-principal {
    grid-column: 1/5;
    grid-row: 1/3;
}

.producto {
    width: 25vw;
    height: 420px;
}
.filtro-nav-open, .filtro-nav-close {
    display: none;
}
.nav-categoria{
    color: var(--yellow);
    background: linear-gradient(to right, #515896, #004e92); 
}
.menu {
    flex-direction: column;
}
.menu-categoria {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    cursor: pointer;
    padding: 1rem;
    font-weight: 400;

}
.filtro-nav-mobile{
    display: none;
}
/* .menu-categoria:after, .menu-categoria:before {
    display:block;
    content: '';
    border-bottom: solid 2px var(--yellow);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.menu-categoria:before {
    position:absolute;
    bottom:.75em; left:0;
} */

.menu-categoria:hover:after, 
.menu-categoria:hover:before {
    transform: scaleX(1); }

.active {
    background: var(--white);
    color: #004e92;
    transition: .75s;
}

/*Tablet*/
@media (max-width: 991.98px) {
    .producto {
        width: 20vw;
        height: 430px;
    }


}

/* Mobile */
@media (max-width: 575.98px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .titulo-principal {
        text-align: center;
        position: sticky;
        margin: 0;
    }
    .nav-categoria {
        grid-column: 1/5;
        grid-row: 2/5;
        border-radius: 0;
    }
    .container-productos {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .producto {
        width: 100%;
        height: 370px;
    }
    .producto-detalles{
        padding-bottom: 7rem;

    }
    .menu {
        padding: 0;
        display: inline-block;

    }
    .menu-categoria {
        font-size: .75rem;
        text-align: center;
    }
    .active {
        border-radius: 2rem;
    }
    .nav-disable{
        position: absolute;
        transition: 1s;
        bottom: 21rem;
        z-index: -1;
        transition: bottom 1s;
    }

    .nav-enable {
        bottom: 0;
        transition: 1s;
    }
    .filtro-nav-mobile {
        display: inline;
        background: linear-gradient(to right, #515896, #004e92); 

    }
    .filtro {
        background: var(--yellow);
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        width: 30%;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    .filtro-nav {
        align-items: center;
        align-self: center;
    }
    .filtro-nav-open {
        display: inline;
    }
    .filtro-nav-open .fa-filter, .fa-circle-xmark {
        color: #004e92;
    }
    .nav-disable {
        display: none;
      }
}
