/* Fuente */
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

  :root {
    /* Colores */
    --yellow: #f3e334;
    --white: #ececec;
    --gray:  #c2c2c2;
    /* Tipo */
    --rubik: 'Rubik', sans-serif;
}
/* --- --- Globales --- --- */
* {
  font-family: var(--rubik);

}

ul {
  list-style: none;
}

a {
  border: none;
  text-decoration: none;
}
input {
  border: 0;
}

.active {

}
.disable {
  display: none;
}

/* ----------------- Header ----------------- */

 .header {
  height: 100%;
  padding: 1rem 1rem 0 1rem;
  background: -webkit-linear-gradient(to right, #515896, #004e92);
  background: linear-gradient(to right, #515896, #004e92); 
}
.header-container { 
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;

}
.header-logo {
  gap: 1rem;
  display: flex;
  align-items: center;
}
.nav-logo {
  width: 2.3rem;
  cursor: pointer;

}
.nav-name-logo {
  font-size: .75rem;
  text-transform: uppercase;
  color: var(--yellow);
}

.header-nav-search {
  display: flex;
  align-items: center;
}

.nav-search-imput {
  width: 100%;
  padding: .50rem;
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.35);


}
.fa-magnifying-glass {
  position: relative;
  right: 2.5rem;
  padding: .30rem;
  border-left: 1px solid var(--gray);
}

.header-nav-publicidad {
  display: flex;
  cursor: pointer;
}

.header-nav-publicidad p {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
    background: var(--yellow);
  	color: #000000;
    border: 1px solid transparent;
    padding: .65rem;
    transition: .6s;
}
.header-nav-publicidad p:hover {
    background-color: #004e92;
    border: 1px solid var(--yellow);
    color: var(--white);
}

.nav-menu {
  display: block;
  grid-area: 2/2;
}
.nav-menu-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.nav-menu-item a{
  color: var(--yellow);
  cursor: pointer;
}
.nav-menu-item a:hover{
  color:  var(--gray);
  cursor: pointer;
}
.nav-menu-tablet {
  display: none;
}

.nav-header-plus-menu {
  display: flex;
  grid-area: 2/3;
  justify-content: center;
  margin-bottom: .3rem;
}
.nav-headerplus-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: .75rem;
}

.fa-cart-shopping {
  font-size: 1.5rem;
  color: var(--white);
}

.nav-header-plus-menu p {
  position: relative;
  right: 21px;
  bottom: 13px;
  font-size: 1rem;
  font-weight: 600;
  background: var(--yellow);
  padding: .17rem .30rem;
  border-radius: .2rem;
  color: red;
}

/* ----------------- slider-item ----------------- */

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray);

}
.slider {
  width: 80%;
  height: 500px;
  overflow: hidden;
}
.sliders {
  width: 350%;
  height: 500px;
  display: flex;

}

.sliders input {
  display: none;
}
.slide {
  width: 30%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 500px;
}

/* manual slide nav */

.navigation-manual {
  position: absolute;
  width: 80%;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid var(--yellow);
  padding: .5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background: var(--yellow);
}

#radio1:checked ~ .item1 {
  margin-left: 0;
}
#radio2:checked ~ .item1 {
  margin-left: -30%;
}
#radio3:checked ~ .item1 {
  margin-left: -60%;
}

/* Automatic nav */

.navigation-auto {
  position: absolute;
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: 471px;
}
.navigation-auto div {
  border: 1px solid transparent;
  padding: .5rem;
  border-radius: 1rem;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 22px;
}

#radio1:checked ~ .navigation-auto .auto-1 {
  background: var(--yellow);
}
#radio2:checked ~ .navigation-auto .auto-2 {
  background: var(--yellow);
}
#radio3:checked ~ .navigation-auto .auto-3 {
  background: var(--yellow);
}


/* ----------------- Promo item ----------------- */

.anuncio-promo {
  padding: 1rem 0;
  background: var(--yellow);
  text-align: center;
  align-items: center;
}
.anuncio-promo h3 {
  text-transform: uppercase;
}
.items-container {
  display: flex;
  justify-content: space-evenly;
}

.promo-envio-items {
  width: 23%;
  height: 10%;
  border: 1px solid #004e92;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  transition: 1s;
;}
.promo-envio-items h4, .promo-envio-items span  {
  font-weight: 700;
  
}
.promo-envio-items p {
  font-weight: 100;
}
.promo-envio-items:hover {
  color: var(--white);
  background: #004e92;
  scale: 1.1;
}

/* ----------------- Productos----------------- */
main {
  background: #ececec;
  text-align: center;
}
.titulo-principal {
  padding: 2rem;
  position: relative;
  bottom: 1.5rem;
  color: var(--yellow);
  background: -webkit-linear-gradient(to right, #515896, #004e92);
  background: linear-gradient(to right, #515896, #004e92); 
}
.container-productos {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 1rem;
}
.producto {
  background: #fff;
  /* width: 450px;
  height: 400px; */
  height: 90%;
  border: 1px solid var(--gray);
  transition: 1s;
  border-bottom-left-radius:  2rem;
  border-bottom-right-radius:  2rem;
  overflow: hidden;
}
.producto:hover{
  scale: 1.1;
}
.producto-img {
  position: relative;
  width: 350px;
}
.producto-detalles {
  background: #004e92;
  position: relative;
  padding-bottom: 2rem;
  padding-top: .2rem;
  bottom: 3rem;
}

.produto-titulo {
  color: var(--white);
}
.producto-precio {
  color: var(--white);
}
.producto-agregar{
  cursor: pointer;
  width: 70%;
  font-size: .75rem;
  padding: .75rem 1rem;
  border: none;
  background: var(--yellow);
  color: #004e92;
  border: 2px solid transparent;
  transition: .45s;
}

.producto-agregar:hover{
  border: 2px solid var(--yellow);
  background: #004e92;
  color: var(--yellow);
}

.btn-verTodo {
  display: inline-block;
  background: #004e92;
  border: none;
  padding: 1rem 3rem;
  font-size:  1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  text-align: center;
  transition: .65s;
  color: var(--white);
}

.btn-verTodo:hover{
  scale: 1.1;
  color: var(--yellow);
}

/* ----------------- footer----------------- */

.footer {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: -webkit-linear-gradient(to right, #515896, #004e92);
  background: linear-gradient(to right, #515896, #004e92); 
}
.icons-footer {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--white);
}
.text-footer{
  color: var(--white);
}

/* Responsive tablet */

/*Tablet*/

/*Portrait*/
@media (max-width: 991.98px) {
  .slider-container {

  }
  .slider {
    height: 300px;
  }
  .navigation-manual {
    margin-top: -230px;
  }
  .navigation-auto {
    margin-top: 271px;
  }

  /* Container promo */
  .items-container {

  }
  .promo-envio-items {
    height: auto;
  }
  /* Productos */
  .container-productos {
    grid-template-columns: repeat(2, 1fr);
  }
  .producto {
    width: auto;
  }
  .producto-img {
    width: 300px;
  }
}

/*fin tablet*/
/* phone responsive */
@media (max-width: 575.98px) {
  body{
    width: auto;
  }
  main {
    padding-bottom: 1rem;
  }

  .header-container {

  }
  .nav-name-logo {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .header-nav-search {
    width: 100%;
  }
  .header-nav-publicidad {
    display: none;
  }
  /* .nav-menu {
    display: none;
   } */
   .nav-header-plus-input {
     font-size: .7rem;

    }
    .nav-search-imput:placeholder-shown {
      padding-right: 4.5rem;
      font-size: .7rem;
      text-overflow: ellipsis;
      
    }
    .header-container p{
     padding: 0 .3rem;
    }
   /* slider */

   .slider {
    height: 200px;
    width: 100%;
  }

  .slider img{
    height: 200px;
  }
  .navigation-manual {
    margin-top: -326px;
    margin-left: 10%;
  }
  .navigation-auto {
    margin-top: 175px;
    margin-left: 10%;
  }
  /* promo */

  .items-container {
    flex-direction: column;
    align-items: center;
    
  }
  .promo-envio-items {
    width: 80%;
  }
  /*  productos */
  .container-productos {
    grid-template-columns: repeat(2, 1fr);
  }
  .producto {
    width: 100%;
    height: 83%;
  }
  .producto-detalles {
    padding: .6rem;
    font-size: .75rem;
  }
  .producto-agregar {
    width: 80%;
    padding: .5rem;
    margin-bottom: 1rem;
  }
  .producto-img {
    width: 100%;
    bottom: 1rem;
  }
  /* Footer */
  .footer {
    margin: 0;
  }
  /* Nav tablet */
  .nav-menu-tablet{
    display: flex;
    align-items: center;
  }
  .fa-bars {
    font-size: 1.6rem;
    padding-right: 1rem;
    color: var(--white);
  }
  .nav-menu{
    position: fixed;
    z-index: 9;
    box-shadow: 0 0 0 320vmax rgba(0, 0, 0, .75);
    transform: translateX(550px) translateY(54px);
    opacity: 0;
    visibility: hidden;
    transition: .2s;
  }
  .nav-menu-visible {
    transform: translateX(180px) translateY(54px);
    opacity: 1;
    visibility: visible;
  }
  .nav-menu-list {
    position: fixed;
    background: #004e92;
    border-bottom-left-radius: 2rem;
    flex-direction: column;
    font-size: 1.2rem;
    top: -1.12rem;
    padding: 1rem;
    padding-right: 3.7rem;
    right: -13.4rem;
  }

  .fa-xmark {
    position: absolute;
    z-index: 20;
    color: var(--white);
    font-size: 2rem;
    display: none;
  }
}
